@model university_app.Models.room

RoomID = <label>@Model.Id</label>
<br />
Room Name = <label>@Model.Roomname</label>
<br />
Room Size = <label>@Model.size</label>
<br />
Room location = <label>@Model.location</label>
<br />
Room Availability : <label>@Model.isavilable</label>

